*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  height: 100%;
  margin: 10px;
  display: grid;
}

body.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-gap: 2px;
  width: 85%;
  grid-template-areas: 
  'top right-top'
  'left right-bottom';
}

section.table {
  grid-area: left;
  display: grid;
  grid-template-columns: repeat(3, 20vmin);
  grid-template-rows: repeat(13, 5vmin);
  grid-gap: 1vmin;
  margin: 0 0 0 100px;
}

.name {
  grid-area: top;
  display: flex;
  justify-content: center;
  color: purple;
  font-style: italic;
  font-size: 28px;
}

.grn, .blk, .red {
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.grn {
background-color: #55BF9B;
}

.blk {
background-color: black;
}

.red {
background-color: red;
}

.wheel {
  grid-area: right-bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  color: black;
}

.bank {
  grid-area: right-top;
  display: grid;
  border: 2px solid blue;
  color: black;
}

#nextSpin {
  display: flex;
  background-color: white;
}

#bal {
  color: black;
}

#reset {
  display: flex;
  background-color: lightyellow;
}

#message {
  border: 2px dashed purple;
  margin: 3px;
  height: 24px;
}